{% load static %}
<div class="navbar">
    <div>
    <img src="{% static 'images\Img1.jpg' %}" class="navbar-img">
</div>
<div>
<a href="/">
    <h1>WCE</h1>
</a>
<form action="{% url 'home' %}" class = "search-bar">
    <input type="text" name="q" placeholder="Search Notification........">
</form>
</div>
<div>
    <a href="{% url 'notes' %}">Notes</a>
    <br>
    {% if request.user.is_superuser %}
    {% if page == 'home' %}
    <a href="{% url 'create-notification' %}">Create Notificaton</a>
    <br>
    {% endif %}
    {% if page == "notes" %}
    <a href="{% url 'add-notes' %}">Add Notes</a>
    <br>
    {% endif %}
    <a href="{% url 'make-new-cr' %}">Make new CR</a>
    {% endif %}
</div>
<div>
    <p>
    <a href="{% url 'user-profile' request.user.id %}">{{request.user.username}}</a></p>
    {{request.user.id}}
    <p>
    <a href="{% url 'logout' %}" style="text-align: left;">Logout</a></p>
</div>
<hr>
</div>