:root{
    --nav-hov: aqua;
    --nav-bgc: #383838;
    --left-sec-bgc: #232323;
    --home-bgc: #1F1F1F;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;;
}
body{
    background-color: var(--home-bgc);
    color: white;
}
/* =======================  NAV-BAR  ===================== */
.nav-bar .upper-nav{
    display: flex;
    background-color: var(--home-bgc);
    align-items: center;
}
.nav-bar .clg-name-nav{
    padding-left: 50px;
    padding-right: 7vw;
}
.nav-bar .clg-name-nav a{
    text-decoration: none;
    color: var(--nav-hov);
    font-size: 50px;
}

.nav-bar .search-nav{
    margin-right: 18vw;
}
::placeholder{
    color: black;
}
.nav-bar .search-nav input{
    background-color: #fff;
    width: 250px;
    height: 43px;
    border-radius: 50px;
    text-align: center;
}

.nav-bar .right-nav{
    display: flex;
}
.nav-bar .right-nav a{
    text-decoration: none;
    color: white;
    margin: 0px 2vw;
    font-size: 25px;
}
.nav-bar .right-nav a:hover{
    color: var(--nav-hov);
    transition-timing-function: ease-in;
    transition-duration: .5s;
}
.nav-bar .right-nav .logout a:hover{
    color: red;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}
 /*----- LOWER-NAVBAR -----*/
.nav-bar .lower-nav{
    background-color: var(--nav-bgc);

}
.nav-bar .lower-nav .left-nav{
    display: flex;
    margin-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-bar .lower-nav a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}
.nav-bar .lower-nav a:hover{
    color: var(--nav-hov);
    transition-timing-function: ease-in;
    transition-duration: 1s;
}

/* -------   NAV BAR ENDED HERE   ------------- */





ul{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
}
.feed{
    font-family: 'Poppins',sans-serif;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
}
a{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    /* font-weight: 900; */
    color: black;
}
.feed h4{
    font-family: 'Poppins',sans-serif;
    color: #ff512f;
    /* font-weight: 500; */
    letter-spacing: 0.5px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    /* font-weight: 500; */
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    /* font-weight: 500; */
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    /* font: 300; */
}
::placeholder{
    color: black;
}
.user-name{
    font-family: Arial, Helvetica, sans-serif;
    /* font: 200; */
    font-size:10;
    color: red;
}

.notification-body{
    text-transform: capitalize;
}






/* ===============================  LEFT SECTION  ============================= */
.browse-sub{
    background-color: #232323;
    width: 22vw;
    height: 80vh;
}
.browse-sub .left-sec-links{
    margin-left: 5vw;
}
.browse-sub .left-sec-links a h4{
    margin: 5vh 0px;

}
.browse-sub a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}
.browse-sub a:hover{
    color: var(--nav-hov);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}



/* ===============================  HOME CONTAINER  ================== */
.home-container{
    background-color: var(--home-bgc);
    display: flex;
}
.feed{
    width: 78vw;
    color: white;
    margin: 50px 5vw;
}
.feed h4{
    font-size: 32px;
    color: rgb(255, 153, 0);
}
.feed hr{
    opacity: 25%;
    margin-top: 30px;
}
.feed .feed-block{
    color: white;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.feed .feed-block .notif-title a{
    color: white;
    text-decoration: none;


}
.feed .feed-block .notif-title a:hover{
    color: rgb(255, 208, 122);
    transition-duration: 0.5s;
}
.feed .feed-block .notif-topic{
    padding-left: 10px;

}
.feed .feed-block .host-time{
    display: flex;
    margin-bottom: 20px;
}
.feed .feed-block .notif-host a{
    color: white;
    text-decoration: none;
}
.feed .feed-block .notif-date{
    opacity: 50%;
    padding-left: 10px;
}



/* ============================   NOTES ========================= */
.notes{
    margin: 25px 50px;
}
.notes .notes-title{
    color: white;
    margin-bottom: 15px;
}
.notes .notes-topic{
    color: white;
    margin-bottom: 12px;
}
.notes a{
    text-decoration: none;
    margin-bottom: 12px;
}
.notes a:hover{
    transition-duration: .5s;
    color: aqua;
    text-decoration: underline;
}
.notes .notes-link{
    color: white;
}
.notes .notes-update-time{
    color: white;
    opacity: 50%;
    padding-left: 10px;

}
.notes hr{
    margin-top: 25px;
    opacity: 25%;
}




/* =================================  MAKE NEW CR  ======================= */
.new_CR{
    margin: 200px 35vw;
    text-align: center;
}
.new_CR input{
    text-align: center;
    color: white;
}
.new_CR .username{
    color: white;
    margin-bottom: 25px;
}
.new_CR .id{
    color: white;
    margin-bottom: 25px;

}
.new_CR .make_cr input{
    margin-top: 40px;
    color: white;
}
.new_CR .make_cr input:hover{
    background-color: rgb(26, 26, 26);
    transition-duration: .5s;
    cursor: pointer;

}


/* =================================  LOGIN FORM   ============================ */
.login-form{
    background-color: rgb(23, 23, 23);
    backdrop-filter: blur(20px);
    margin: 180px 40vw;
    text-align: center;
    width: 30vw;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 10px 20px black ;
}
.login-form form .username{
    color: white;
}
.login-form form .password{
    color:white;

}
.login-form form input{
    text-align: center;
    color: white;
    width: 22vw;
    border-radius: 1000px;
    margin-left: 4vw;
    box-shadow: inset -1px -4px 10px black;
}
.login-form form .submit{
    color: white;
    margin: 50px 4vw;
    cursor: pointer;
}

::placeholder{
    color: rgb(113, 113, 113);
}
.login-form  a{
    color: white;
    text-decoration: none;

}


/* =================================  PROFILE  ======================= */
.profile-container{
    display: flex;
    text-decoration: none;
    color: white;
    margin: 0px 2vw;
    font-size: 20px;
    align-items: center;
    letter-spacing: normal;
    padding: 30px;
}
.profile-container h1{
    padding: 30px;
}
.profile-container h3{
    padding:10px;
}
.profile-container p{
    padding: 10px;
}
.profile-container small{
    padding: 5px;
}


/* =================================  NOTIFICATIN FORM  ======================= */
/* .create-notification */
.create-notification form input, textarea{
    text-align: center;
    color: white;
    width: 22vw;
    border-radius: 10px;
    margin-left: 4vw;
    box-shadow: inset -1px -4px 10px black;
}
.create-notification label {
    color: aliceblue;
}

.create-notification select {
    border-radius: 10px;
    width: 22vw;
    padding: 5px;
}