*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.navbar{
    /* background: url('{{ STATIC_URL }}images/Img1.jpg'; */
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr; 
}
.navbar-img{
    border: solid white;
    border-radius: 80px;
}
.navbar input{
    border: solid black;
    border-radius: 15px;
    width: 300px;
    background-color: palegreen;
}
.browse-sub{
    border: solid black;
    border-radius: 4px;
    background-color: gray;
    box-shadow: white;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
}
.feed{
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px white;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
}
.feed-block{
    border: solid black;
    border-radius: 10px;
    background-color: khaki;
}
.home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* 1fr -> 1 fraction, 3fr -> 3 fractions */
}
.login-form{
    height: 420px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.add-cr{
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 100%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.add-cr input{
    border: solid gray;
    border-radius: 30px;
}
.sign-up{
    margin-top: 10%;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 100%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.create-not{
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.feed{
    font-family: 'Poppins',sans-serif;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
}
a{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    font-weight: 900;
    color: black;
}
.feed h4{
    font-family: 'Poppins',sans-serif;
    color: #ff512f;
    font-weight: 500;
    letter-spacing: 0.5px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: black;
}
.user-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size:10;
    color: red;
}

.notification-body{
    text-transform: capitalize;
}

.note{
    border: solid black;
    border-radius: 10px;
    background-color: khaki;    
}

.notes-form{
    margin-top: 10rem;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}


.notes-form input{
    align-items: center;
    display: block;
    height: 50px;
    width: 100%;
    background-color: wheat;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

input{
    align-items: center;
    display: block;
    border: solid gray;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;

}

textarea{
    align-items: center;
    display: block;
    border: solid gray;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;

}

.notes-form button{
    margin-top: 50px;
    width: 100%;
    color: #ffffff;
    background-color: green;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

button{
    margin-top: 50px;
    width: 100%;
    color: #ffffff;
    background-color: gray;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

/* .home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.navbar{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
} */