<div class="feed">
    <h4>{{number_notifications}} notifications</h4>
    {% if request.user.is_superuser %}
    {% endif %}
    <div>
        {% for notification in notifications %}
            <div class = 'feed-block'>
                {% if notification.host == request.user %}
                <a href="{% url 'update-notification' notification.id %}" class = "user-name">Update</a>
<a href="{% url 'delete-notification' notification.id %}">Delete</a>
<br>
{% endif %}
                <a href="{% url 'user-profile' notification.host.id %}" class="user-name"> @{{ notification.host.username }}</a>
                <h5>{{notification.id}} --  <a href= "{% url 'notification' notification.id %}" >{{notification.title}}</a></h5>
                <small> {{ notification.topic.name }} </small>
                <br>
                <small>{{notification.created|timesince}} ago</small>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>