{% extends 'main.html' %}

{% block content %}
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
<div class="profile-container">
    <div>
        <h1>{{profile.name}}</h1>
        <h3>{{user.username}}</h3>
        <p style="font-size: 12px;">PRN - {{profile.PRN}}</p>
        <small><b>About Me -- </b></small>
        <p>{{profile.description}}</p>
        {% if request.user == user %}
        <a href="{% url 'change-password' user.id %}"><button name = "Change" class = "Change-Pass">Change Password</button></a>
        {% endif %}
    </div>
    <div>
        {% include 'base/feed_component.html' %}
    </div>
</div>
{% endblock %}